$primary-color : #FFE2C1;
$secondary-color : #C6BCFF;
$black : #212529;
$white : #FFFFFF;


@import "~bootstrap/scss/bootstrap";

body {
    background-color: $primary-color;
    font-family: "Noto Sans", sans-serif;
    min-width: 100vw;
}

.handing-title {
    font-size: 72px;
    font-weight: 500;
}

.logo-navbar {
    margin: auto;
    max-width: 50vw;
}

footer {
    background-color: $black;
    width: 100%;
    left: 0;
    bottom: 0;
    min-height: 10vh;
}

footer ul {
    padding-left: 0;
}

.logo-network {
    width: 52px;
    height: 52px;
    margin-bottom: 2rem;
}

footer p {
    color: #FFE2C1;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    padding-left: 0;
}

.logo-robot-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
    //max-width: 100vw;
}

.content-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    text-decoration: none;
    list-style-type: none;
}

.logo-robot-footer {
    width: 200px;
    margin-top: 2rem;
}

[id*="isFavorite-"] {
    font-size: 50px;
    color: $black;
}

a:hover {
    color: $black;
}

button {
    background-color: $white;
    border: 1px solid $black;
}

.buttonText {
    color: $black;
    font-size: 16px;
}

.logo-artoyz-footer {
    width: 300px;
}

.toy-title,
.toy-price {
    font-size: 25px;
    font-weight: 500;
}

.toy-picture-show {
    width: 300px;
}

.toy-show,
.content-show {
    padding: 12px;
    margin: auto;
}

.connexionLabel {
    color: $black;
    font-weight: 500;
    font-size: 18px;
}

.connexionInput {
    background: rgba(0, 0, 0, 0.1);
    border: solid 3px $black;
    height: 45px;
}

.btn {
    color: $primary-color;
}

.picture-dashboard {
    width: 50px;
}

.dashboard-body {
    background-color: #C6BCFF;
}

#navbarText {
    font-size: 16px;
    color: $primary-color;
}

.nav-item {
    color: $primary-color;
}