<footer>
    <ul class ="logo-robot-title">
    <li><img class="logo-robot-footer" src="{{ asset('build/robot-light.svg') }}" alt="robot-logo"></li>
        <li><img class="logo-artoyz-footer" src="{{ asset('build/artoyz-logo.svg') }}" alt="artoyz-logo"></li>
    </ul>
    <ul class="content-footer">
        <li>Checkpoint 4</li>
        <li>2023</li>
    </ul>
    <ul class ="social-links">
        <li class ="github m-2 p-2">
       <a href="https://github.com/NinaSwoop/Artoyz-Checkpoint-4"><img class ="logo-network" src="{{ asset('build/github-logo.svg') }}" alt="github-logo"></a>
        </li>
        <li class = "linkedin m-2 p-2">
        <a href="https://www.linkedin.com/in/nina-iacoponelli-77979353/"><img class ="logo-network" src="{{ asset('build/linkedin-logo.svg') }}" alt="github-logo"></a>
        </li>
    </ul>

</footer>